:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000; /* Fallback for WebGL */
  overflow: hidden; /* Prevent body scroll */
}

* {
  box-sizing: border-box;
}